<div class="jumbotron center">
  <h1>Welcome to MyRecipes</h1>
  <h2>The best recipe sharing app!</h2>
  <p><%= link_to "Sign up or Log in", "#", class: "btn btn-danger btn-lg btn-xlarge" %></p>
</div>

<div class="row">
  <div class="col-lg-4">
    <h2>Safari bug warning!</h2>
    <p class="text-danger">As of v9.1.2, Safari exhibits a bug in which resizing your browser horizontally causes rendering errors in the justified nav that are cleared upon refreshing.</p>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn btn-primary btn-xlarge" href="#" role="button">View details &raquo;</a></p>
  </div>
  <div class="col-lg-4">
    <h2>Heading</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn btn-primary btn-xlarge" href="#" role="button">View details &raquo;</a></p>
 </div>
  <div class="col-lg-4">
    <h2>Heading</h2>
    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
    <p><a class="btn btn-primary btn-xlarge" href="#" role="button">View details &raquo;</a></p>
  </div>
</div>

<div class="footer-section">
    <div class="footer">
	<div class="container">
		    <div class="col-md-4 footer-one">
		      <div class="foot-logo">
		          <img src="http://smarthead.ancorathemes.com/wp-content/uploads/2016/12/footer_logo.png">
		      </div> 
		       
		       <p>Providing Life Changing Experiences Through Education. Class That Fit Your Busy Life. Closer to Home
                </p>
            <div class="social-icons"> 
               <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
               <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
	            <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
	            <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
	        </div>
		    </div>
		    <div class="col-md-2 footer-two">
		       <h5>Quick Links</h5>
		          <ul>
                <li><a href="#"> About Us</a> </li>
                <li><a href="#"> Our News</a> </li>
                <li><a href="#"> Our Services</a> </li>
                <li><a href="#"> Contact Us</a> </li>
              </ul>
		    </div>
		    <div class="col-md-2 footer-three">
		       <h5>Services</h5>
		          <ul>
                <li><a href="#"> About Us</a> </li>
                <li><a href="#"> Our News</a> </li>
                <li><a href="#"> Our Services</a> </li>
                <li><a href="#"> Contact Us</a> </li>
              </ul>
		    </div>
		    <div class="col-md-4 footer-four">
		       <h5>Contact Us</h5>
		         <img src="http://iacademy.mikado-themes.com/wp-content/uploads/2017/05/footer-img-1.png">  
                  
		    </div>
		<div class="clearfix"></div>
	</div>
</div>

</div>
<div class="footer-bottom">
  <div class="container">
		<div class="row">
			<div class="col-sm-6 ">
				<div class="copyright-text">
					<p>CopyRight © 2017 Digital All Rights Reserved</p>
				</div>
			</div> <!-- End Col -->
			<div class="col-sm-6  ">
			    <div class="copyright-text pull-right">
					<p> <a href="#">Home</a> | <a href="#">Privacy</a> |<a href="#">Terms & Conditions</a> | <a href="#">Refund Policy</a> </p>
				</div>					
										
			</div> <!-- End Col -->
		</div>
	</div>
</div>